.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(6, 4, 19);
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-esquerda {
  flex: 1;
  text-align: center;
}

.content-esquerda img {
  max-width: 100%;
  height: auto;
}

.content-direita {
  flex: 1;
  padding: 20px;
}

/* Cart達o de visita */
.card {
  width: 350px;
  height: 200px;
  perspective: 1000px;
}

/* Frente do cart達o */
.front {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #b09cc2;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* Verso do cart達o */
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #b09cc2;
  border-radius: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* Efeito de virar o cart達o */
.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.img img {
  width: 90px;
}

.rede-sociais {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.container-home-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e0ecab;
  overflow-x: none;
}

.box-home {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  background-color: beige;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-home {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.cards-front {
  width: 360px;
  height: 200px;
  background-color: #b09cc2;
  border-radius: 10px;
  display: flex;
}

.cards-front img {
  height: 90px;
  width: auto;
  flex-shrink: 0;
  border-radius: 5px;
  margin-left: 5px;
}

.caixa1 {
  width: 100px;
  height: 100%;
  text-align: center;
}

.caixa1 img {
  width: 90px;
}

.caixa2 {
  width: 250px;
  padding: 10px;
}

.caixa2 h4 {
  margin: 5px;
  padding-bottom: 15px;
}

.caixa2 p {
  margin: 5px;
}

.email {
  width: 226px;
  height: 21px;
  flex-shrink: 0;
}

.cards-front img {
  height: 100px;
  width: auto;
  flex-shrink: 0;
}

.cards-back {
  width: 360px;
  height: 200px;
  background-color: #b09cc2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-back img {
  width: 50px;
  height: 50px;
}

.form-home {
  display: grid;
  grid-template-columns: 100% 100%;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

.divtitle {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0;
}

.divtitle span {
  font-weight: bold;
}

.divtitle p {
  margin: 0;
}